/* @keyframes widthInc{
0%      {max-width: auto;}

100%    {max-width: 100px;}
} */

body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    background-color: #1c2833;
    border-width: 50px;
    margin-top: 50px;
}
button:focus{
    outline: none;
}

button:active{
    transform: translate(3px,3px);
}

#header {
    background-color: #1c2833;
    display: flex;
    flex-direction: row;
}

#mainBody{
    background-color: #1c2833;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
}

.add{
    margin: 5px;
    width: 50px;
    height: 50px;
    border: 1px;
    border-style: solid;
    border-radius: 25px;
    background-color: #1c2833;
    text-align: center;
    border-color: #00FF41;
    border-width: 3px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 5;
    padding: 10px;
    border-style: solid;
    color: #00ffff;
    font-weight: bolder;
    transition-property: all;
    transition-duration: 400ms;
}

.add:hover{
    cursor: cell;
    border-color: red;
}

#goBack{
    margin: 5px;
    width: 50px;
    height: 50px;
    border: 1px;
    border-style: solid;
    border-radius: 25px;
    background-color: #1c2833;
    text-align: center;
    border-color: #00FF41;
    border-width: 3px;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 5;
    padding: 10px;
    border-style: solid;
    color: #00ffff;
    font-weight: bolder;
    transition-property: all;
    transition-duration: 400ms;
}

#goBack:hover{
    cursor: cell;
    border-color: red;
}

.category{
    margin: 5px;
    background-color: #1c2833;
    text-align: center;
    border-color: #00FF41;
    border-width: 3px;
    flex: 1;
    padding: 10px;
    border-style: solid;
    color: #00ffff;
    box-shadow: 5px 5px #008F11;
    font-weight: bolder;
}

.category:hover{
    cursor: auto;
}

button:active{
    box-shadow: none;
}

.item{
    min-width: 50px;
    width: 150px;
    height: 80px;
    margin: 5px;
    background-color: #1c2833;
    text-align: center;
    border-color: #00FF41;
    border-width: 3px;
    flex: 1;
    padding: 10px;
    border-style: solid;
    color: #00ffff;
    box-shadow: 3px 3px #22313f;
    transition-property: all;
    transition-duration: 500ms;
    font-weight: bolder;
}

.item:hover{
    width: 300px;
    height: 100px;
    border-color: red;
    /* height: fit-content; */
    cursor: cell;
    /* animation-name: widthInc;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards; */
}

#tf {
    width: 400px;
    height: 40px;
    position: absolute;
    left: 200px;
    top: 200px;
    height: 40px;

    padding: 5px;
    background-color: #1c2833;
    color: #00ffff;
    font-family: 'Times New Roman', Times, serif;
    border-color: #00FF41;
    font-size: 20px;
    font-weight: bolder;
}

#submit {
    padding: 5px;
    margin: 5px;
    background-color: #1c2833;
    text-align: center;
    border-color: #00FF41;
    border-width: 3px;
    flex: 1;
    padding: 10px;
    border-style: solid;
    color: #00ffff;
    box-shadow: 3px 3px #008F11;
    font-weight: bolder;
    
    position: absolute;
    height: 50px;
    width: 400px;
    left: 200px;
    top: 400px;
}

.radio-toolbar {
    height: 50px;
    width: 500px;
    position: absolute;
    left: 150px;
    top: 300px;
    display: flex;
    padding: 5px;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    /* margin: 2px;
    color: #00FF41;
    flex: 1;
    background-color: #1c2833;
    border: 3px;
    border-color: #00FF41;
    border-style: solid;
    border-width: 3px;
    padding: 4px 11px;
    font-size: 16px; */
    margin: 3px;
    background-color: #1c2833;
    text-align: center;
    border-color: #00FF41;
    border-width: 3px;
    flex: 1;
    padding: 10px;
    border-style: solid;
    color: #00ffff;
    box-shadow: 3px 3px #008F11;
    font-weight: bolder;
}
.radio-toolbar input[type="radio"]:checked+label {
    background-color: black;
    transform: translate(3px,3px);
    box-shadow: none;
}