@keyframes widthInc{
0%      {max-width: auto;}

100%    {max-width: 100px;}
}

body {
    background-color: #1c2833;
    border-width: 50px;
    margin-top: 50px;
}
button:focus{
    outline: none;
}

button:active{
    transform: translate(3px,3px);
}

#header {
    background-color: #1c2833;
    display: flex;
    flex-direction: row;
}

#mainBody{
    background-color: #1c2833;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
}

.add{
    margin: 5px;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-radius: 25px;
    background-color: #1c2833;
    text-align: center;
    border-color: #00FF41;
    border-width: 3px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 5;
    padding: 10px;
    border-style: solid;
    box-shadow: 3px 3px #008F11;
    color: #00ffff;
}

.add:hover{
    cursor: cell;
}

.category{
    margin: 5px;
    background-color: #1c2833;
    text-align: center;
    border-color: #00FF41;
    border-width: 3px;
    flex: 1;
    padding: 10px;
    border-style: solid;
    color: #00ffff;
    box-shadow: 3px 3px #008F11;
}

.category:hover{
    cursor: auto;
}

button:active{
    box-shadow: none;
}

.item{
    width: 100px;
    margin: 5px;
    background-color: #1c2833;
    text-align: center;
    border-color: #008F11;
    border-width: 3px;
    flex: 1;
    padding: 10px;
    border-style: solid;
    color: #00ffff;
    box-shadow: 3px 3px #22313f;
    transition-property: width;
    transition-duration: 1s;
}

.item:hover{
    width: 300px;
    cursor: cell;
    /* animation-name: widthInc;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards; */
    background-color: #c0392b;
}

#tf {
    width: 400px;
    height: 40px;
    position: absolute;
    left: 200px;
    top: 280px;
    height: 40px;
    background-color: #1c2833;
    color: #00ffff;
    font-family: 'Times New Roman', Times, serif;
    border-color: #00FF41;
}

#submit {
    margin: 5px;
    background-color: #1c2833;
    text-align: center;
    border-color: #00FF41;
    border-width: 3px;
    flex: 1;
    padding: 10px;
    border-style: solid;
    color: #00ffff;
    box-shadow: 3px 3px #008F11;
}