body {
    background-color: lightcyan;
}

#header {
    background-color: grey;
    padding: 20px;
    
    display: flex;
    flex-direction: row;
}

#mainBody{
    background-color: lightcyan;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
}

button{
    background-color: aqua;
    border-color: black;
    text-align: center;
    border: 1px;
}

.add{
    flex: 1;
    padding: 10px;
    border: 1px;
    border-style: solid;
}

.category{
    flex: 1;
    padding: 10px;
    border-style: solid;        
}

p {
    background-color: aqua;
    max-width: 100px;
    border: 1px;
    border-color: black;
    border-style: dashed;
}